.change-page{

    width:100%;

    min-height:calc(100vh - 70px);

    background:#f1f5f9;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}



.change-card{

    width:100%;

    max-width:600px;

    background:#ffffff;

    padding:45px;

    border-radius:20px;

    box-shadow:0 15px 35px rgba(0,0,0,.12);

    animation:fadeIn .5s ease;

}




.change-icon{

    width:90px;

    height:90px;

    margin:0 auto 20px;

    border-radius:50%;

    background:#eff6ff;

    color:#2563eb;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:42px;

}




.change-card h3{

    text-align:center;

    color:#000;

    font-size:30px;

    font-weight:700;

    margin-bottom:35px;

}




.password-box{

    display:flex;

    align-items:center;

    gap:15px;

    background:#f8fafc;

    border:1px solid #cbd5e1;

    border-radius:12px;

    padding:16px;

    margin-bottom:22px;

    transition:.3s;

}



.password-box:focus-within{

    border-color:#2563eb;

    box-shadow:0 0 10px rgba(37,99,235,.20);

}



.password-box svg{

    color:#2563eb;

    font-size:20px;

}



.password-box input{

    flex:1;

    border:none;

    outline:none;

    background:transparent;

    font-size:16px;

}




.change-btn{

    width:100%;

    padding:16px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:12px;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}



.change-btn:hover{

    background:#1d4ed8;

    transform:translateY(-3px);

}





@keyframes fadeIn{

    from{

        opacity:0;

        transform:translateY(30px);

    }


    to{

        opacity:1;

        transform:translateY(0);

    }

}




@media(max-width:768px){


    .change-page{

        padding:20px;

    }


    .change-card{

        padding:30px;

    }


    .change-card h3{

        font-size:26px;

    }


}



@media(max-width:480px){


    .change-card{

        padding:20px;

    }


    .change-icon{

        width:70px;

        height:70px;

        font-size:32px;

    }


}