.sidebar{

width:260px;

height:100vh;

background:#0f172a;

color:white;

display:flex;

flex-direction:column;

justify-content:space-between;

padding:25px 18px;

position:fixed;

left:0;

top:0;

}

.sidebar-logo{

text-align:center;

margin-bottom:30px;

}

.logo-icon{

font-size:55px;

color:#3b82f6;

margin-bottom:10px;

}

.sidebar-logo h2{

font-size:26px;

letter-spacing:1px;

}

.sidebar-menu{

display:flex;

flex-direction:column;

gap:12px;

}

.menu{

display:flex;

align-items:center;

gap:14px;

padding:14px;

border-radius:10px;

text-decoration:none;

color:white;

font-size:16px;

transition:.3s;

}

.menu:hover{

background:#2563eb;

}

.active{

background:#2563eb;

}

.logout-btn{

margin-top:auto;

padding:14px;

border:none;

background:#ef4444;

color:white;

border-radius:10px;

font-size:16px;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

transition:.3s;

}

.logout-btn:hover{

background:#dc2626;

}

@media(max-width:768px){

.sidebar{

width:210px;

}

.menu span{

font-size:14px;

}

}

@media(max-width:600px){

.sidebar{

position:relative;

width:100%;

height:auto;

}

}